@font-face {
    font-family: 'Rubik';
    src: url('Rubik/Rubik-VariableFont_wght.ttf')  format('truetype');
    src: url("Rubik/static/Rubik-Medium.ttf");
  }

  /* Css reset */

  *, *::before, *::after {
    box-sizing: border-box;
   }
   
   * {
    margin: 0;
   padding: 0;
   /* border: 1px solid red; */
   }

   
   body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
   }
   
   img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
   }
   
   input, button, textarea, select {
    font: inherit;
   }
   
   p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
    text-align: center;
   }
   

body{
    font-family: 'Rubik', Courier, monospace;
    color: white;
}

a{
    text-decoration: none;

}

/* Styling */


body{
    background-image: url(images/realistic-bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.wrapper::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
    z-index: -1;
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:2vh;
    padding-top:2vh;
}


h1{
    font-size: 3rem;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a{
    font-size: 1.3rem;
    color: white;
    padding: 1.3rem;
    border-bottom: 3px solid transparent;
    position: relative;
    bottom: 0px;
    transition:0.5s;
}

nav > a:hover{
    bottom: 5px;
    cursor: pointer; 
}

nav > a.active{
    border-bottom: 3px solid white;
    bottom: 5px; 
}

/* Home styling */


.index-main, .menu-main, .contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    position: relative;
    padding: 20px;
    margin: 3vh 3vw;
}

.index-main::before, .menu-main::before, .contact-main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: -1;
    background-color: black;
}

.index-main > h2{
    font-size: 2rem;
}
.index-main > img{
    max-width: 500px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.index-p{
    width: 60%;
    font-weight: 100;
}



/* Menu styling */


.menu-main{
    gap: 8vh;
}

.menu-main h2{
    font-size: 2.5rem;
}

.menu-main > div{
    width: fit-content;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    opacity: 0.7;
    background-color: black;
    padding: 4vh 4vw;
    border-radius: 12px;
}

.menu-main > div:hover{
    background-color: rgb(71, 66, 66);
    transition:0.3s;
}

.menu-main h3{
    font-size: 2rem;
}

.menu-main img{
    max-width: 400px;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 12px;
}

.menu-main p{
    font-size: 1.5rem;
}



/* Contact styling */

.contact-main > img{
    max-width: 80%;
    height: auto;

}